

<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>(%block title %) Edstaff(%endblock%)</title>

<link rel ="stylesheet" type="text/css"  href="https://bootswatch.com/5/flatly/bootstrap.min.css"
<link rel="stylesheet" type ="text/css" href = "/static/css/styles.css">
</head>


<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
<a class="navbar-brand" href="{% url 'index' %}">EduRecruit</a>
<button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'job_list' %}">Job List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'job_create' %}">Create Job</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'job_detail' %}">Job Detail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'job_update' %}">Update Job</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'job_delete' %}">Delete Job</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'job_apply' %}">Apply for Job</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Welcome, {{ user.username }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}



        <br>
    {% block content %}




    {% endblock %}



    </div>

</nav>


</div>

<script src ="https://code.jquery.com/jquery-3.3.1.slim.min.js"crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>






</body>

</html>

