<!--
    This is the base template for my EduRecruit project. It includes the basic HTML structure and links to Bootstrap CSS and JS.
    The template uses Jinja2 templating engine to allow for dynamic content rendering.-->

<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{%block title %} EduRecruit{% endblock %}</title>

<link rel ="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

</head>

<body>

{% block content %}{% endblock %}
</body>
