{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Edstaff{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
      <div class="container-fluid w-50">
        <a class="navbar-brand" href="#">EduRecruit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% block home %} {% endblock %}" aria-current="page" href="/static">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block user_login %} {% endblock %}" href="/user_login/">User Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block admin_login %} {% endblock %}" href="/admin_login/">Admin Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block company_login %} {% endblock %}" href="/company_login/">Company Login</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="/logout/">Logout</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
</nav>


</body>

<div class="container-fluid mt-2">
    <img src="{% static 'images/Recruitment Vector.png' %}" alt="recruitment scene" width="100%" height="450px">
</div>
    <div class="container-fluid mt-2" style="background-color: #4f868c; width: 100%;">
        <div class="row">
            <div class="col-md-4">
                <h3 style="color: aliceblue;">Contact Us</h3>
                <p style="color: aliceblue">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EduRecruit@gmail.com</p>
                <p style="color: aliceblue">Mobile No.:&nbsp;&nbsp;083 88876583</p>
            </div>
        </div>
    </div>